@model IEnumerable<ElectronicsStore.Models.Noidungtranoncc>

@{
    ViewData["Title"] = "Index";
    Layout = "_Admin";
    Noidungtranoncc noidungtrano = ViewData["Noidungncc"] as Noidungtranoncc;

    int Conthieu = (int)ViewData["Sotienconno"]; // bằng 0 là đã trả đủ
    float MaxSotienconno = (float)ViewData["MaxSotienconno"]; 

}

<div class="d-flex justify-content-between mb-2">
    <div class="d-flex justify-content-between  flex-row-reverse">
        <form asp-controller="Phieutranoncc" asp-action="Index">
            <button type="submit" class="btn btn-light ">
                Quay lại
            </button>
        </form>

    </div>
    @if (Conthieu == 0)
    {

        <button disabled type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#addModal">
            Thêm mới phiếu trả
        </button>
    }
    else
    {
        <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#addModal">
            Thêm mới phiếu trả
        </button>
    }
</div>
<div class="table-responsive">

    <table class="table table-striped table-bordered" id="productTable">
        <thead>
            <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Ngày thu</th>
                <th class="text-center">Số tiền</th>
                <th class="text-center">Ghi chú</th>
               
            </tr>
        </thead>
        <tbody>
            @{
                int count = 1;
            }
            @foreach (var item in Model)
            {

            <tr>
                <td class="d-flex justify-content-center">@count</td>
                @{
                    DateTime Ngaytrano = (DateTime)item.Ngaytrano;

                }
                <td class="text-center">@Ngaytrano.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)</td>
                @{
                    var Sotien = String.Format("{0:0,0}", (item.Sotien));

                }
                <td class="text-right">@Sotien đ</td>
                <td>@item.Ghichu</td>

                @{ count++; }
            </tr>

            }

        </tbody>
    </table>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
     aria-hidden="true">
    <div class="modal-dialog w-90" role="document" style="display: flex;
        align-items: center;
        justify-content: center;">
        <div class="modal-content ">
            <div class="modal-header">
                @{
                    string Max = MaxSotienconno.ToString("#,###.##");

                }
                <h5 class="modal-title" id="addProductModalLabel">Trả nợ - Còn thiếu: <span style="font-weight:bolder">@Max đ</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           
                <form id="formAdd" asp-controller="Phieutranoncc" asp-action="Themnoidungphieutranoncc" method="post" enctype="multipart/form-data">

                    <div class="modal-body">
                        <input type="hidden" value="@noidungtrano.Idptnncc" name="Idptnncc" />
                        <input type="hidden" value="@noidungtrano.Idpnk" name="Idpnk" />
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-2 col-sm-12">
                                        Số tiền
                                    </div>
                                    <input  id="maxPrice"  type="hidden" value="@MaxSotienconno"
                                           class="form-control">
                                    <div class="col-md-10 col-sm-12">
                                        <input name="Sotien" maxlength="255" type="number" id="Sotien"
                                               class="form-control">

                                    </div>
                                </div>
                            </div>



                            <div class="col-md-12 col-sm-12 mt-2">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-2 col-sm-12">
                                        Ghi chú
                                    </div>
                                    <div class="col-md-10 col-sm-12">
                                        <textarea id="GhichuA" name="Ghichu" maxlength="4000"
                                                  type="text" class="form-control"></textarea>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit"  id="addButton" class="btn btn-primary">Lưu</button>
                    </div>

                </form>
           


        </div>
    </div>
</div>
<script>
    const maxPrice = document.getElementById("maxPrice");
    const Sotien = document.getElementById("Sotien");
    const addButton = document.getElementById("addButton");

    Sotien.addEventListener("input", function () {
        const max = parseInt(maxPrice.value);
        const enteredValue = parseInt(Sotien.value);

        if (enteredValue > max) {
            Sotien.value = max;
            //Sotien.style.border = "4px solid red";
            //addButton.disabled = true;
        }
        if (Sotien.value.length == 0) {
            Sotien.value = 1;

        } if (enteredValue < max) {
            Sotien.style.border = "4px solid green";
            //addButton.disabled = false;

        }
    });
</script>
