@model IEnumerable<ElectronicsStore.Models.Noidungpxk>

@using ElectronicsStore.Models;

@{
    Layout = "_Admin";
    ElectronicsStoreContext _context = new ElectronicsStoreContext();


    //int id = ViewBag.Idpxk;
    Phieuxuatkho phieuxuatkho = ViewData["Phieuxuatkho"] as Phieuxuatkho;

    List<Hanghoa> vatlieu = _context.Hanghoa.Where(active => active.Active == 1).ToList();
    List<Nhacungcap> nhacungcap = _context.Nhacungcap.Where(n => n.Active == 1).ToList();




}

<ul class="tabs row text-center">
    <li class="tab-link  col-md-6 current" data-tab="tab-1">Nội Dung Phiếu Xuất #@phieuxuatkho.Sophieu</li>

    <li class="tab-link  col-md-6" data-tab="tab-2">Thu Nợ Khách Hàng #@phieuxuatkho.Sophieu</li>

</ul>
<div id="tab-1" class="tab-content current">
    <form id="formNDPXK" asp-action="Actions" asp-controller="Phieuxuatkho" method="post">
        <input id="Idndpxk" name="phieunhap" type="hidden" />

        <input type="hidden" name="Idpxk" id="Idpxk" value="@phieuxuatkho.Idpxk" />
        <input id="Thue" type="hidden" />

        <div class="bg-light p-1 border border-secondary rounded ">
            <div class="row">

                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            Số phiếu
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <textarea readonly type="text" value="" class="form-control" style="height:40px">@phieuxuatkho.Sophieu</textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            Ngày Xuất
                        </div>
                        <div class="col-md-8 col-sm-12">
                            @if (phieuxuatkho.Ngayhd != null)
                            {
                                DateTime Ngaylap = phieuxuatkho.Ngaylap;
                                <input readonly class="form-control" value="@Ngaylap.ToString("dd/MM/yyyy hh:mm:ss tt", System.Globalization.CultureInfo.InvariantCulture)" />

                            }
                            else
                            {
                                <input readonly value="@phieuxuatkho.Ngaylap" class="form-control" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-2 col-sm-12">
                            Tên khách
                        </div>
                        <div class="col-md-10 col-sm-12">

                            <input readonly value="@phieuxuatkho.IdkhNavigation.Tenkh" class="form-control" />

                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-2">
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            Số HĐ
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <input readonly type="text" value="@phieuxuatkho.Sohd" class="form-control">

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            Ngày HĐ
                        </div>
                        <div class="col-md-8 col-sm-12">
                            @if (phieuxuatkho.Ngayhd != null)
                            {
                                DateTime Ngayhd = (DateTime)phieuxuatkho.Ngayhd;
                                <input readonly class="form-control" value="@Ngayhd.ToString("dd/MM/yyyy hh:mm:ss tt", System.Globalization.CultureInfo.InvariantCulture)" />

                            }
                            else
                            {
                                <input readonly class="form-control" value="@phieuxuatkho.Ngayhd" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-2 col-sm-12">
                            Ghi Chú
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <textarea readonly value="@phieuxuatkho.Ghichu" id="" row="" style="height:40px;" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tblNhapKho" class="bg-light p-1 border border-secondary rounded mt-2" style="max-height:33vh;overflow-y:scroll">
            <table id="grid-pnks" class="table table-striped table-bordered text-center">

                <thead>
                    <tr class="text-center">
                        <th class="text-center">STT</th>
                        <th scope="col">Số lô</th>
                        <th scope="col">Mã hàng hóa</th>
                        <th scope="col">Tên hàng hóa</th>
                        <th scope="col">SL</th>
                        <th scope="col">Ngày SX</th>
                        <th scope="col">Hạn SX</th>

                    </tr>
                </thead>
                @{
                    int counttt = 1;

                }
                @foreach (var item in ViewData["HanghoaCanXuat"] as List<Noidungpnk>)
                {
            <tr class="tr">
                <td class="d-flex justify-content-center">@counttt</td>
                <td>@item.Solo</td>
                <td>@item.IdhhNavigation.Mavl</td>
                <td>@item.IdhhNavigation.Tenvl</td>

                <td>@item.Soluong</td>
                @{
              
                    if (item.Ngaysx != null)
                    {
                        DateTime Ngaysx = (DateTime)item.Ngaysx;
                        <td>@Ngaysx.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)</td>

                    }
                    else
                    {
                        <td></td>
                    }
                    if (item.Ngaysx != null)
                    {
                        DateTime Hansd = (DateTime)item.Hansd;
                        <td>@Hansd.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)</td>

                    }
                    else
                    {
                        <td></td>

                    }

                }
            </tr>
                }
            </table>
        </div>
        <div class="bg-light p-1 border border-secondary rounded mt-2 ">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-2 col-sm-12">
                            Hàng hóa
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <select id="multipleSelect" name="Idhh" class="Idhh" placeholder="Chọn hãng sản xuất " data-search="true" style="max-width:100%"
                                    data-silent-initial-value-set="true">

                                @foreach (var item in vatlieu)
                                {
                                    <option class="hh" value="@item.Idhh">@item.Mavl-@item.Tenvl</option>
                                }

                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            Hiện có
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <input id="CountCurrent" type="number" readonly class="form-control" name="" value="@ViewData["SoLuongCon"]" />

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            SL Xuất
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <input type="number" name="Soluong" id="Soluongcanxuat" placeholder="0.0" class="form-control" min="1" value="1" required max="@ViewData["SoLuongCon"]">

                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-2">
                @{
                    Hanghoa hanghoa = ViewData["ThongTinHanghoa"] as Hanghoa;
                    var Giagoc = String.Format("{0:0,0}", (hanghoa.Giaban));
                    var Giakm = String.Format("{0:0,0}", (hanghoa.Giakm));
                    var tongtienmacdinh = String.Format("{0:0,0}", (hanghoa.Giaban * 1));
                }
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            Đơn Giá
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <select class="DongiaSelect" id="DongiaSelect" name="Dongia">
                                <option value="@hanghoa.Giaban">Giá gốc: @Giagoc đ</option>
                                <option value="@hanghoa.Giakm">Giá KM: @Giakm đ</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            ĐVT
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <select class="Donvitinh" id="Donvitinh" name="Donvitinh">
                                <option selected value="Cái">Cái</option>
                                <option value="Thùng">Thùng</option>
                                <option value="Chiếc">Chiếc</option>
                                <option value="Bao">Bao</option>
                                <option value="Gói">Gói</option>
                                <option value="Hộp">Hộp</option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            VAT
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <input id="Vat" type="number" class="form-control" min="0" name="VAT" value="0" />

                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            %CKTM
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <input class="form-control" type="number" min="0" name="Cktm" id="Cktm" placeholder="Chiếc khấu" value="0" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">

                        <div class="col-md-4 col-sm-12">
                            Th.Tiền
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <input class="form-control" readonly type="text" id="Thanhtien" value="@tongtienmacdinh" placeholder="0.0" />
                            <input class="form-control" type="hidden" id="Tongtien" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt-2">

                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">

                        </div>
                        <div class="col-md-8 col-sm-12">


                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">

                        </div>
                        <div class="col-md-8 col-sm-12">


                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">

                        </div>
                        <div class="col-md-8 col-sm-12">


                        </div>
                    </div>
                </div>

                <input id="action" type="hidden" name="action" value="addItem" />
                <input id="IdndpxkE" type="hidden" name="Idndpxk" />
                <div class="col-md-3 col-sm-12">
                    <button type="submit" style="float: right;" disabled class="btn btn-primary w-50" id="btnAdd">Thêm</button>
                    <div class="d-flex">
                        <button type="button" style="display:none;" class="btn btn-light w-50" id="btnCancel">Hủy</button>
                        <button type="submit" class="btn btn-primary w-50" disabled id="btnUpdate" style="display:none; float: right;">Cập nhật</button>
                    </div>

                </div>

            </div>

        </div>
    </form>

    @*LIST*@
    <input type="hidden" id="hfRowIndex" value="" />


    <div id="tblNhapKho" class="bg-light p-1 border border-secondary rounded mt-2" style="max-height:33vh;overflow-y:scroll">
        <table id="grid-pnks" class="table table-striped table-bordered text-center">

            <thead>
                <tr class="text-center">
                    <th style="max-width:30px" class="text-center">STT</th>
                    <th scope="col">Mã HH</th>
                    <th class="d-none" scope="col">Tên hàng hóa</th>

                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Thành tiền</th>

                    <th class="d-none" scope="col"></th>
                    <th class="d-none" scope="col"></th>
                    <th class="d-none" scope="col"></th>
                    <th class="d-none" scope="col"></th>
                    <th class="d-none" scope="col"></th>
                    <th class="d-none" scope="col"></th>
                    <th class="d-none" scope="col"></th>
                    <th scope="col" style="width:35px"></th>
                </tr>
            </thead>
            @{
                int count = 1;
                double totalAmount = 0;
                double totalVAT = 0;
                double totalCKTM = 0;
                double totalTotal = 0;
            }
            @foreach (var item in ViewData["Noidungpxk"] as List<Noidungpxk>)
            {
                <tr class="tr">
                    <td class="d-flex justify-content-center">@count</td>
                    <td>@item.IdhhNavigation.Mavl</td>
                    <td class="d-none" style="width:500px">@item.IdhhNavigation.Tenvl</td>
                    <td class="d-flex justify-content-center"><input id="" oninput="changeCountNDPXK(this)" class="form-control SoluongEE" type="number" min="1"  value="@item.Soluong" max="@ViewData["SoLuongCon"]" style="width:80px" /></td>

                    @{

                        var Amount = item.Soluong * item.Dongia;
                        var CKTM = (Amount * item.Cktm) / 100;
                        var VAT = ((Amount - CKTM) * item.Vat) / 100;
                        var Total = Amount - CKTM + VAT;


                        var Dongia = String.Format("{0:0,0}", (@item.Dongia));
                        var ThanhTien = String.Format("{0:0,0}", (Total));


                        totalAmount += Amount;

                        totalVAT += (double)VAT;
                        totalCKTM += (double)CKTM;
                        totalTotal += (double)Total;

                    }
                    <td>@Dongia</td>
                    <td>@ThanhTien</td>



                    <td class="d-none">Cái</td>
                    <td class="d-none">@item.Idndpxk</td>
                    <td class="d-none">@item.Vat</td>
                    <td class="d-none">@item.Cktm</td>
                    <td class="d-none">@item.IdhhNavigation.Idhh</td>
                    <td class="d-none">@item.IdhhNavigation.Hinhanh</td>
                    <td class="d-none">@item.Soluong</td>


                    <td class="table-td-center d-flex " style="justify-content:space-evenly;align-items:center">

                        <button onclick="submitChangeCountNDPXK()" id="ChangeCountNDPXKBtn" class="btn btn-warning" disabled><i class="fas fa-edit text-white"></i></button>

                        <button onclick="showModalDetail(this)" type="button" class="btn btn-info" data-toggle="modal"
                                data-target="#detailModal">
                            <i class="fas fa-info-circle text-white"></i>
                        </button>
                        <button data-id="@item.Idndpxk" data-code="@item.IdhhNavigation.Mavl" data-name="@item.IdhhNavigation.Tenvl" type="button" class="btn btn-danger deleteBtn"
                                data-toggle="modal" data-target="#deleteModal">
                            <i class="fas fa-trash text-white"></i>
                        </button>
                    </td>

                </tr>
            }
        </table>
    </div>

    <form id="formUpdateSLNDPX" asp-controller="Phieuxuatkho" asp-action="Actions">
        <input id="SoluongE" min="1" name="Soluong" type="hidden" />
        <input id="IdndpxkEE" name="Idndpxk" type="hidden" value="" />
        <input id="DongiaE" name="Dongia" type="hidden" value="" />
        <input id="" name="Idpxk" type="hidden" value="@phieuxuatkho.Idpxk" />
        <input id="IdhhE" name="Idhh" type="hidden" value="" />
        <input name="action" value="editItem" type="hidden" />
    </form>
    <div class="bg-light p-1 border border-secondary rounded mt-2">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-4 col-sm-12">
                        Tiền hàng
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input readonly id="totalAmountThuc" type="text" value="@String.Format("{0:0,0}", (totalAmount)) đ" placeholder="Tiền hàng" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-4 col-sm-12">
                        Tiền thuế
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input readonly id="" value="@String.Format("{0:0,0}", (totalVAT)) đ" type="text" placeholder="Tiền thuế" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-4 col-sm-12">
                        Tiền CK
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input id="" readonly type="text" value="@String.Format("{0:0,0}", (totalCKTM)) đ" placeholder="Tiền chiếc khấu" class="form-control">
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-3 col-sm-12">
                        Th.Toán
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <input readonly id="" value="@String.Format("{0:0,0}", (totalTotal)) đ" placeholder="Thanh toán" class="form-control">

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class=" mt-2 d-flex flex-row-reverse">
        <input type="submit" id="" value="Tạo phiếu" class="btn btn-primary w-25" />

        <a href="/Phieuxuatkho/Index" class="btn btn-light w-25">Quay lại</a>


    </div>
</div>
<div id="tab-2" class="tab-content ">

    <div class="bg-light p-1 mb-2  border border-secondary rounded">
        <form id="" asp-action="Create" asp-controller="Phieuthunokh">

            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-3 col-sm-12">
                            Hình thức
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <select name="Idhttt">

                                @foreach (var item in ViewData["Hinhthucthanhtoan"] as List<Hinhthucthanhtoan>)
                                {
                                    <option value="@item.Idhttt">@item.Tenhttt</option>
                                }

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-2 col-sm-12">
                            Ghi chú
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <textarea name="Ghichu" onfocus="this.value=''" row="" style="height:40px;" class="form-control"></textarea>

                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-12">

                    <input type="hidden" name="Idpxk" value="@phieuxuatkho.Idpxk" />
                    <input type="hidden" name="SoPhieu" value="@phieuxuatkho.Sophieu" />
                    <input type="submit" id="TaoPhieu" value="Tạo Phiếu" class="btn btn-primary w-100" />

                </div>
            </div>
        </form>
    </div>

    <form asp-action="Actions" asp-controller="Phieuthunokh" id="formNDTNNCC" method="post">
        <input type="hidden" name="Idpxk" value="@phieuxuatkho.Idpxk" />
        <input type="hidden" name="Idndtnkh" id="Idndtnkh" />
        <input type="hidden" name="Idptnkh" id="Idptnkh" value="@ViewData["phieuthuno"]" />
        <input type="hidden" name="action" id="actionNDPTN" value="addItem" />

        <div class="bg-light p-1  border border-secondary rounded">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-3 col-sm-12">
                            Số Tiền
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <input id="SotienNdpt" type="number" class="form-control" name="Sotien" required>
                            <span id="SotienPhaiTra"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-3 col-sm-12">
                            P.Trả
                        </div>
                        <div class="col-md-9 col-sm-12">
                            @if (ViewData["SoPhieu"] != null)
                            {
                                <textarea id="SoPhieuTra" readonly style="height:40px;" value="" name="" class="form-control">@ViewData["SoPhieu"]</textarea>
                            }
                            else
                            {
                                <textarea id="SoPhieuTra" readonly style="height:40px;" name="SoPhieu" class="form-control"></textarea>
                            }

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-3 col-sm-12">
                            Ghi chú
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <textarea name="Ghichu" id="GhichuNdpt" row="" style="height:40px;" class="form-control" maxlength="4000"></textarea>

                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 ">
                    <button type="submit" style="float: right;" disabled class="btn btn-primary w-50" id="btnAddNdptn">Thêm</button>
                    <button type="submit" style="float: right;display:none" class="btn btn-primary w-50" id="btnFinishNdptn">Đã thanh toán</button>
                    <div class="d-flex">
                        <button type="button" style="display:none;" class="btn btn-light w-50" id="btnCancelNdptn">Hủy</button>
                        <button type="submit" class="btn btn-primary w-50" id="btnUpdateNdptn" style="display:none; float: right;">
                            Cập
                            nhật
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </form>
    <div class="bg-light p-1 border border-secondary rounded mt-2">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th style="max-width:30px" class="text-center">STT</th>

                    <th scope="col">Nhân viên trả</th>
                    <th scope="col">Số tiền(đ)</th>
                    <th scope="col">Ngày trả nợ</th>
                    <th scope="col">Ghi chú</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int countt = 1;
                    double TienDaThanhToan = 0;

                }
                @foreach (var item in ViewData["Noidungthunokh"] as List<Noidungthunokh>)
                {
                    <tr class="trNDTNNCC">
                        <td class="d-flex justify-content-center">@countt</td>

                        <th scope="row">@item.IdpxkNavigation.IdnvNavigation.Tennv</th>
                        @{
                            var Sotien = String.Format("{0:0,0}", (@item.Sotien));

                            TienDaThanhToan += (double)item.Sotien;

                        }
                        <td>@Sotien</td>
                        @if (item.Ngaythuno != null)
                        {
                            DateTime Ngaytn = (DateTime)item.Ngaythuno;
                            <td>@Ngaytn.ToString("dd/MM/yyyy hh:mm:ss tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                            <td class="d-none">@Ngaytn.ToString("yyyy-MM-dd HH:mm:ss.fff", System.Globalization.CultureInfo.InvariantCulture)</td>

                        }
                        else
                        {
                            <td></td>
                            <td class="d-none"></td>
                        }
                        <td style="display:none">@item.Idndtnkh</td>
                        <td>@item.Ghichu</td>
                        <td class="d-none sophieu">@item.IdptnkhNavigation.Sophieu</td>
                        <td class="d-none idptnncc">@item.IdptnkhNavigation.Idptnkh</td>
                        <td class="table-td-center d-flex " style="justify-content:space-evenly;align-items:center">
                            <a class="btn btn-warning " onclick="onEditNdptnkh(this)"><i class="fas fa-edit text-white"></i></a>
                            <button data-id="@item.Idndtnkh" data-code="@item.IdptnkhNavigation.Sophieu" data-name="@item.Sotien" type="button" class="btn btn-danger deleteBtn2"
                                    data-toggle="modal" data-target="#deleteModal2">
                                <i class="fas fa-trash text-white"></i>
                            </button>

                        </td>

                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>


@*Modals*@

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModal"
     aria-hidden="true">
    <div class="modal-dialog w-90" role="document" style="display: flex;
        align-items: center;
        justify-content: center;">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="detailModal">Thông tin chi tiết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center mb-2">
                    <div>
                        <img src="" style="width:100%; border-radius:20px" id="HinhanhD" alt="Chưa có ảnh" />

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12 mt-2">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mt-2">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-2 col-sm-12">
                                        Tên HH
                                    </div>
                                    <div class="col-md-10 col-sm-12">

                                        <textarea class="form-control" id="MahhD" disabled></textarea>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-2">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-2 col-sm-12">
                                        Tên HH
                                    </div>
                                    <div class="col-md-10 col-sm-12">

                                        <textarea class="form-control" id="TenhhD" disabled></textarea>

                                    </div>
                                </div>
                            </div>



                            <div class="col-md-12 col-sm-12 mt-2">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-2 col-sm-12">
                                        Đơn vị tính
                                    </div>
                                    <div class="col-md-10 col-sm-12">

                                        <input class="form-control" id="DonvitinhD" disabled />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 mt-2">
                        <div class="col-md-12 col-sm-12 mt-2">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-2 col-sm-12">
                                    Số lượng
                                </div>
                                <div class="col-md-10 col-sm-12">

                                    <input class="form-control" id="SoluongD" disabled />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 mt-2">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-2 col-sm-12">
                                    Đơn giá
                                </div>
                                <div class="col-md-10 col-sm-12">

                                    <input class="form-control" id="DongiaD" disabled />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 mt-2">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-2 col-sm-12">
                                    VAT
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    <input id="VatD" name="VatD" maxlength="255" type="text" disabled
                                           class="form-control">

                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 mt-2">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-2 col-sm-12">
                                    CKTM
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    <input id="CktmD" name="CktmD" maxlength="255" required disabled
                                           type="text" class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 mt-2">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-2 col-sm-12">
                                    Thành tiền
                                </div>
                                <div class="col-md-10 col-sm-12">

                                    <input class="form-control" id="ThanhtienD" disabled />

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModal">Bạn có chắc chắn muốn xóa?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Phieuxuatkho" asp-action="Actions" method="post">
                <input id="idDD" name="Idndpxk" class="d-none" type="text">
                <input name="action" value="deleteItem" class="d-none" type="hidden">

                <div class="modal-body">
                    Dòng dữ liệu này sẽ bị mất, bạn có muốn tiếp tục xóa?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" id="deleteModalBtn" class="btn btn-primary">Xóa</button>
                </div>
            </form>

        </div>
    </div>

</div>

<div class="modal fade" id="deleteModal2" tabindex="-1" role="dialog" aria-labelledby="deleteModal2"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModal">Bạn có chắc chắn muốn xóa?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Phieuthunokh" asp-action="Actions" method="post">
                <input id="IdndtnkhNDPTN" name="Idndtnkh" class="d-none" type="text">
                <input id="" name="Idpxk" value="@phieuxuatkho.Idpxk" class="d-none" type="text">
                <input name="action" value="deleteItem" class="d-none" type="hidden">

                <div class="modal-body">
                    Dòng dữ liệu này sẽ bị mất, bạn có muốn tiếp tục xóa?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" id="deleteModalBtn" class="btn btn-primary">Xóa</button>
                </div>
            </form>

        </div>
    </div>

</div>

<form id="formFillter" method="post" asp-action="Fillter" asp-controller="Phieuxuatkho">
    <input type="hidden" id="IdhhFillter" name="Idhh" />
    <input type="hidden" id="IdpxkFillter" name="Idpxk" value="@phieuxuatkho.Idpxk" />
</form>


@{
    var SoTienConNo = @totalTotal - @TienDaThanhToan;
}
<input type="hidden" value="@totalTotal" id="SoTienCanThanhToan" />
<input type="hidden" value="@TienDaThanhToan" id="SoTienDaThanhToan" />
<input type="hidden" value="@SoTienConNo" id="SoTienConNo" />

@*<script>
        window.addEventListener("load", function () {
            if (document.getElementById("SoTienConNo") > 0) {
                document.getElementById("TaoPhieu").disabled = false;
            } else {
                document.getElementById("TaoPhieu").disabled = true;

            }
        })

    </script>*@
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>

    function showModalDetail(row) {
        const cells = row.parentElement.parentElement.cells;
        const Mahh = cells[1].textContent;
        const Tenhh = cells[2].textContent;
        //const Soluong = cells[3].textContent;
        let Dongia = cells[4].textContent;
        let Thanhtien = cells[5].textContent;
        const Donvitinh = cells[6].textContent;
        const Idndpxk = cells[7].textContent;
        const Vat = cells[8].textContent;
        const Cktm = cells[9].textContent;
        const Idhh = cells[10].textContent;
        const Hinhanh = cells[11].textContent;
        const Soluong = cells[12].textContent;

        document.querySelector('#MahhD').value = Mahh;
        document.querySelector('#TenhhD').value = Tenhh;
        document.querySelector('#SoluongD').value = Soluong;
        document.querySelector('#DongiaD').value = Dongia;
        document.querySelector('#ThanhtienD').value = Thanhtien + " VNĐ";
        document.querySelector('#DonvitinhD').value = Donvitinh;
        document.querySelector('#VatD').value = Vat + "%";
        document.querySelector('#CktmD').value = Cktm + "%";

        document.querySelector('#HinhanhD').src = "/Images/" + Hinhanh;

        document.querySelector('#HinhanhD').style.width = "350px";
        document.querySelector('#HinhanhD').style.height = "350px";
        // Hiển thị modal
        $('#detailModal').modal('show');
    }
    //Khi nhấn xóa trên table
    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Nút "Xóa" được nhấn
        var id = button.data('id');
        // Lấy giá trị id được lưu trong data-id của nút "Xóa"
        var name = button.data('name'); // Lấy giá trị của cột tên được lưu trong data-name của nút "Xóa"
        var code = button.data('code');
        // Tiếp tục với các cột còn lại
        document.getElementById("idDD").value = id;
        // Hiển thị thông tin của dòng lên modal xác nhận
        var modal = $(this);
        modal.find('.modal-body').text('Bạn có chắc chắn muốn xóa dòng có mã là ' + code + ' và tên là ' + name);
    });

</script>


<script>


    const formNDPXK = document.getElementById("formNDPXK");
    const btnAdd = document.getElementById("btnAdd");
    const btnUpdate = document.getElementById("btnUpdate");
    const btnCancel = document.getElementById("btnCancel");



    formNDPXK.addEventListener('change', function () {
        if (formNDPXK.checkValidity()) {
            btnAdd.disabled = false;
        } else {
            btnAdd.disabled = true;
        }
    });


    formNDPXK.addEventListener('change', function () {
        if (formNDPXK.checkValidity()) {
            btnUpdate.disabled = false;
        } else {
            btnUpdate.disabled = true;
        }
    });


    btnCancel.addEventListener("click", function () {
        btnUpdate.style.display = "none";
        btnCancel.style.display = "none";
        btnAdd.style.display = "block";
        document.getElementById("actionNDPTN").value = "addItem";
    })
    btnUpdate.addEventListener("click", function () {
        btnAdd.style.display = "block";
        btnUpdate.style.display = "none";
        btnCancel.style.display = "none";

    })


</script>

<script>
    function validateForm(form, saveButton) {
        // Lặp qua tất cả các trường input, textarea và select của form
        let formIsValid = true;
        const fields = form.querySelectorAll("input, textarea, select");
        let currentFieldIsValid = true;
        fields.forEach((field) => {
            if (field === event.target) {
                currentFieldIsValid = field.checkValidity();
            }

            if (!currentFieldIsValid || !field.checkValidity()) {
                // Nếu trường Trường dữ liệu bắt buộc!, đánh dấu form Trường dữ liệu bắt buộc! và hiển thị lỗi
                formIsValid = false;
                field.classList.add("is-invalid");
                field.setAttribute('placeholder', 'Trường dữ liệu bắt buộc!!');
                field.style.color = "red";
            } else {
                field.classList.remove("is-invalid");
                field.setAttribute('placeholder', '');
                field.style.color = "black";
            }
        });

        // Enable hoặc disable nút lưu dữ liệu tùy thuộc vào trạng thái hợp lệ của form
        saveButton.disabled = !formIsValid;
    }

</script>

<script>
    const Soluongcanxuat = document.getElementById("Soluongcanxuat");
    const CountCurrent = document.getElementById("CountCurrent");
    const Thanhtien = document.getElementById("Thanhtien");

    const VND = new Intl.NumberFormat('vi-VN', {
        style: 'currency',
        currency: 'VND',
    });

    Soluongcanxuat.addEventListener('input', function () {

        if (Soluongcanxuat.value > CountCurrent.value) {
            Soluongcanxuat.style.border = "4px red solid";
            btnAdd.disabled = true;
        } else {
            Soluongcanxuat.style.border = "1px #ced4da solid";
            btnAdd.disabled = false;

        }
        if (Soluongcanxuat.value.length == 0) {
            Soluongcanxuat.value = 1;
        }
        totalAmount = Soluong.value * Dongia.value;
        Thanhtien.value = VND.format(totalAmount);
    });


    document.querySelectorAll(".DongiaSelect .vscomp-option").forEach(function (h, index) {
        h.addEventListener("click", function () {
            Thanhtien.value = VND.format(parseFloat(h.dataset.value) * parseFloat(Soluongcanxuat.value));
        })
    })

</script>
<script src="~/multiSelectDropdown/virtual-select.min.js"></script>
<script type="text/javascript">
    VirtualSelect.init({
        ele: 'select'
    });
</script>

<script>

    function KeepPage() {
        let tab1 = document.querySelector("#tab-1");
        let tab2 = document.querySelector("#tab-2");

        if (tab1.classList.contains("current")) {
            tab1.classList.remove("current");
            tab2.classList.add("current");
        }

    }
</script>


<script>


    // NỘI DUNG PHIẾU TRẢ


    //KIỂM TRA SỐ TIỀN NỢ - TRẢ
    const SoTienMuonTra = document.getElementById("SotienNdpt");
    const SoTienCanThanhToan = document.getElementById("SoTienCanThanhToan");
    const SoTienDaThanhToan = document.getElementById("SoTienDaThanhToan");
    const SoTienConNo = document.getElementById("SoTienConNo");
    const SotienPhaiTra = document.getElementById("SotienPhaiTra");
    const Idptnkh = document.getElementById("Idptnkh");
    SoTienMuonTra.addEventListener("input", function () {
        if (parseFloat(SoTienMuonTra.value) > parseFloat(SoTienConNo.value) || SoTienMuonTra.value == "" || Idptnkh.value == "") {
            btnAddNdptn.disabled = true;
            btnUpdateNdptn.disabled = true;
            SoTienMuonTra.style.border = "4px red solid";
            SoTienMuonTra.style.color = "red";
        }
        else {
            btnAddNdptn.disabled = false;
            btnUpdateNdptn.disabled = false;
            SoTienMuonTra.style.border = "4px green solid";
            SoTienMuonTra.style.color = "green";


        }
        SotienPhaiTra.innerText = "Cần trả thêm: " + VND.format(SoTienConNo.value);
    })


    const btnAddNdptn = document.getElementById("btnAddNdptn");
    const btnCancelNdptn = document.getElementById("btnCancelNdptn");
    const btnUpdateNdptn = document.getElementById("btnUpdateNdptn");
    const formNDTNNCC = document.getElementById("formNDTNNCC");

    formNDTNNCC.addEventListener('change', function () {
        if (formNDTNNCC.checkValidity()) {
            btnAddNdptn.disabled = false;
            if (parseFloat(SoTienMuonTra.value) > parseFloat(SoTienConNo.value)) {
                btnAddNdptn.disabled = true;
            }
        } else {
            btnAddNdptn.disabled = true;
        }
    });

    btnCancelNdptn.addEventListener("click", function () {
        btnUpdateNdptn.style.display = "none";
        btnCancelNdptn.style.display = "none";
        btnAddNdptn.style.display = "block";
        console.log("ssssss")
        document.getElementById("actionNDPTN").value = "addItem";
        btnAddNdptn.disabled = true;
        document.getElementById("SotienNdpt").value = "";
        document.getElementById("SoPhieuTra").value = "";
        document.getElementById("GhichuNdpt").value = "";
        SoTienMuonTra.style.border = "4px #ced4da solid";

    })
    btnUpdateNdptn.addEventListener("click", function () {
        btnAddNdptn.style.display = "block";
        btnUpdateNdptn.style.display = "none";
        btnCancelNdptn.style.display = "none";

    })


</script>

<script>
    //NỘI DUNG PHIẾU TRẢ
    function onEditNdptnkh(td) {

        selectedRow = td.parentElement.parentElement;
        document.getElementById("SotienNdpt").value = (selectedRow.cells[2].innerHTML).replaceAll(",", "");

        document.getElementById("Idndtnkh").value = selectedRow.cells[5].innerHTML;
        //alert(document.getElementById("Idndtnkh").value);
        document.getElementById("GhichuNdpt").value = selectedRow.cells[6].innerHTML;
        document.getElementById("SoPhieuTra").value = selectedRow.cells[7].innerHTML;
        document.getElementById("Idptnkh").value = selectedRow.cells[8].innerHTML;

        document.getElementById("actionNDPTN").value = "editItem"
        btnAddNdptn.style.display = "none";
        btnUpdateNdptn.style.display = "block";
        btnCancelNdptn.style.display = "block";


        //SoTienMuonTra.addEventListener("input", function () {
        //    if (parseFloat(SoTienMuonTra.value) > parseFloat(SoTienConNo.value) - parseFloat(document.getElementById("SotienNdpt").value) || SoTienMuonTra.value == "") {
        //        btnAddNdptn.disabled = true;
        //        SoTienMuonTra.style.border = "4px red solid";
        //        SoTienMuonTra.style.color = "red";
        //    }
        //    else {
        //        btnAddNdptn.disabled = false;
        //        SoTienMuonTra.style.border = "4px green solid";
        //        SoTienMuonTra.style.color = "green";


        //    }
        //    SotienPhaiTra.innerText = "Cần trả thêm: " + VND.format(SoTienConNo.value);
        //})
    }
    $('#deleteModal2').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Nút "Xóa" được nhấn
        var id = button.data('id'); // Lấy giá trị id được lưu trong data-id của nút "Xóa"
        var name = button.data('name'); // Lấy giá trị của cột tên được lưu trong data-name của nút "Xóa"
        var code = button.data('code');
        // Tiếp tục với các cột còn lại
        document.getElementById("IdndtnkhNDPTN").value = id;
        // Hiển thị thông tin của dòng lên modal xác nhận
        var modal = $(this);
        modal.find('.modal-body').text('Bạn có chắc chắn muốn xóa dòng có số phiểu là ' + code + ' và số tiền là ' + VND.format(name));
    });





</script>
<script>

    const formFillter = document.getElementById("formFillter");
    const IdhhFillter = document.getElementById("IdhhFillter");
    const IdpxkFillter = document.getElementById("IdpxkFillter");

    const kk = document.querySelectorAll("#multipleSelect .vscomp-option");
    kk.forEach(function (h, index) {
        h.addEventListener("click", function () {
            //lấy data-value của thẻ div - giá trị trong thẻ select
            IdhhFillter.value = h.dataset.value;
            formFillter.submit();
        })
    })
</script>

<script>
    const formUpdateSLNDPX = document.getElementById("formUpdateSLNDPX");
    const editSLNDPXBtn = document.getElementById("editSLNDPXBtn");
    const ChangeCountNDPXKBtn = document.getElementById("ChangeCountNDPXKBtn");

    function changeCountNDPXK(row) {
        const cells = row.parentElement.parentElement.cells;
        const Mahh = cells[1].textContent;
        const Tenhh = cells[2].textContent;
        //const Soluong = cells[3].textContent;
        let Dongia = cells[4].textContent;
        let Thanhtien = cells[5].textContent;
        const Donvitinh = cells[6].textContent;
        const Idndpxk = cells[7].textContent;
        const Vat = cells[8].textContent;
        const Cktm = cells[9].textContent;
        const Idhh = cells[10].textContent;
        const Hinhanh = cells[11].textContent;
        const Soluong = cells[12].textContent;

        document.querySelector('#IdndpxkEE').value = Idndpxk;
        document.querySelector('#DongiaE').value = Dongia.replaceAll(",", "");
        document.querySelector('#IdhhE').value = Idhh;
        document.querySelector('#SoluongE').value = row.value;

        row.parentNode.parentNode.querySelector("#ChangeCountNDPXKBtn").disabled = false;
    }

    function submitChangeCountNDPXK() {
        formUpdateSLNDPX.submit();
    }

</script>
