@model IEnumerable<ElectronicsStore.Models.Noidungpnk>

@using ElectronicsStore.Models;

@{
    Layout = "_Admin";
    ElectronicsStoreContext _context = new ElectronicsStoreContext();


    //int id = ViewBag.Idpnk;
    Phieunhapkho phieunhapkho = TempData["Phieunhapkho"] as Phieunhapkho;

    List<Hanghoa> vatlieu = _context.Hanghoa.Where(active => active.Active == 1).ToList();
    List<Nhacungcap> nhacungcap = _context.Nhacungcap.Where(n => n.Active == 1).ToList();

    //List<Phieutranoncc> phieutranoncc = _context.Phieutranoncc.Where(n => n.Active == 1).ToList();
    //List<Hinhthucthanhtoan> httt = _context.Hinhthucthanhtoan.Where(n => n.Active == 1).ToList();


}

<ul class="tabs row text-center">
    @*<li class="tab-link  col-md-4 current tab-11" data-tab="tab-1">Lịch Sử Nhập #@phieunhapkho.Sophieu</li>*@

    <li class="tab-link  col-md-6 current" data-tab="tab-1">Nội Dung Phiếu Nhập #@phieunhapkho.Sophieu</li>

    <li class="tab-link  col-md-6" data-tab="tab-2">Trả Nợ Nhà Cung Cấp #@phieunhapkho.Sophieu</li>

</ul>


<div id="tab-1" class="tab-content current">
    <form id="formNDPNK" asp-action="Actions" asp-controller="Phieunhapkho" method="post">
        <input id="Idndpnk" name="phieunhap" type="hidden" />

        <input type="hidden" name="Idpnk" id="Idpnk" value="@phieunhapkho.Idpnk" />
        <input id="Thue" type="hidden" />

        <div class="bg-light p-1 border border-secondary rounded ">
            <div class="row">

                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            Số phiếu
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <input readonly type="text" value="@phieunhapkho.Sophieu" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            Ngày Nhập
                        </div>
                        <div class="col-md-8 col-sm-12">
                            @if (phieunhapkho.Ngayhd != null)
                            {
                                DateTime Ngaylap = phieunhapkho.Ngaylap;
                                <input readonly class="form-control" value="@Ngaylap.ToString("dd/MM/yyyy hh:mm:ss tt", System.Globalization.CultureInfo.InvariantCulture)" />

                            }
                            else
                            {
                                <input readonly value="@phieunhapkho.Ngaylap" class="form-control" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-2 col-sm-12">
                            Nhà CC
                        </div>
                        <div class="col-md-10 col-sm-12">
                            @*<select id="multipleSelect"name="@phieunhapkho.Idncc" placeholder="Chọn vật liệu muốn nhập kho" data-search="true"
                                        data-silent-initial-value-set="true">
                                    @foreach (var item in nhacungcap)
                                    {
                                        <option value="@item.Idncc">@item.Tenncc</option>
                                    }

                                </select>*@
                            <input readonly value="@phieunhapkho.IdnccNavigation.Tenncc" class="form-control" />

                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-2">
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            Số HĐ
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <input readonly type="text" value="@phieunhapkho.Sohd" class="form-control">

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            Ngày HĐ
                        </div>
                        <div class="col-md-8 col-sm-12">
                            @if (phieunhapkho.Ngayhd != null)
                            {
                                DateTime Ngayhd = (DateTime)phieunhapkho.Ngayhd;
                                <input readonly class="form-control" value="@Ngayhd.ToString("dd/MM/yyyy hh:mm:ss tt", System.Globalization.CultureInfo.InvariantCulture)" />

                            }
                            else
                            {
                                <input readonly class="form-control" value="@phieunhapkho.Ngayhd" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-2 col-sm-12">
                            Ghi Chú
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <textarea readonly value="@phieunhapkho.Ghichu" id="" row="" style="height:40px;" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-light p-1 border border-secondary rounded mt-2 ">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-2 col-sm-12">
                            Tên hàng
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <select id="multipleSelect" name="Idhh" class="Idhh" placeholder="Chọn hãng sản xuất " data-search="true" style="max-width:100%"
                                    data-silent-initial-value-set="true">

                                @foreach (var item in vatlieu)
                                {
                                    <option value="@item.Idhh">@item.Tenvl</option>
                                }

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            Số Lô
                        </div>
                        <div class="col-md-8 col-sm-12">

                            <input type="text" name="Solo" id="Solo" class="form-control" required>


                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-3 col-sm-12">
                            ĐV Tính
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <select class="Donvitinh" id="Donvitinh" name="Donvitinh">
                                <option selected value="Cái">Cái</option>
                                <option value="Thùng">Thùng</option>
                                <option value="Chiếc">Chiếc</option>
                                <option value="Bao">Bao</option>
                                <option value="Gói">Gói</option>
                                <option value="Hộp">Hộp</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-2">
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            VAT
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <input id="Vat" type="number" class="form-control" name="VAT" value="0" />

                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            Số Lượng
                        </div>
                        <div class="col-md-8 col-sm-12">
                            @*<input type="number" id="Count" onblur="myFunction()" placeholder="0.0" class="form-control">*@
                            <input type="number" name="Soluong" id="Soluong" placeholder="0.0" class="form-control" value="1" required>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            Đơn Giá
                        </div>
                        <div class="col-md-8 col-sm-12">
                            @*<input class="form-control" placeholder="0.0" inputmode="numeric" type="text" id="Gianhap" oninput="ValidateIsNaN()"
                                onblur="myFunction()" />*@
                            <input class="form-control" placeholder="0.0" name="Dongia" inputmode="numeric" type="number" id="Dongia" required />


                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-3 col-sm-12">
                            Th.Tiền
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <input class="form-control" readonly type="text" id="Thanhtien" placeholder="0.0" />
                            <input class="form-control" type="hidden" id="Tongtien" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            %CKTM
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <input class="form-control" type="number" name="Cktm" id="Cktm" placeholder="Chiếc khấu" value="0" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            @*Ngày SX*@
                        </div>
                        <div class="col-md-8 col-sm-12">
                            @*<input type="date" name="Ngaysx" id="Ngaysx" class="form-control" />*@
                            <input type="hidden" name="Ngaysx" id="Ngaysx" class="form-control" />

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 col-sm-12">
                            @*Hạn SD*@
                        </div>
                        <div class="col-md-8 col-sm-12">
                            @*<input type="date" id="Hansd" name="Hansd" class="form-control">*@
                            <input type="hidden" id="Hansd" name="Hansd" class="form-control">

                        </div>
                    </div>
                </div>

                <input id="action" type="hidden" name="action" value="addItem" />
                <input id="IdndpnkE" type="hidden" name="Idndpnk" />
                <div class="col-md-3 col-sm-12">
                    <button type="submit" style="float: right;" disabled class="btn btn-primary w-50" id="btnAdd">Thêm</button>
                    <div class="d-flex">
                        <button type="button" style="display:none;" class="btn btn-light w-50" id="btnCancel">Hủy</button>
                        <button type="submit" class="btn btn-primary w-50" disabled id="btnUpdate" style="display:none; float: right;">Cập nhật</button>
                    </div>

                </div>

            </div>

        </div>
    </form>

    @*LIST*@
    <input type="hidden" id="hfRowIndex" value="" />

    <div id="tblNhapKho" class="bg-light p-1 border border-secondary rounded mt-2" style="max-height:33vh;overflow-y:scroll">
        <table id="grid-pnks" class="table table-striped table-bordered text-center">

            <thead>
                <tr class="text-center">
                    <th style="max-width:30px" class="text-center">STT</th>
                    <th scope="col">Số lô</th>
                    <th scope="col">Tên hàng hóa</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Thành tiền</th>

                    <th class="d-none" scope="col"></th>
                    <th class="d-none" scope="col"></th>
                    <th class="d-none" scope="col"></th>
                    <th class="d-none" scope="col"></th>
                    <th class="d-none" scope="col"></th>
                    <th class="d-none" scope="col"></th>
                    <th class="d-none" scope="col"></th>
                    <th class="d-none" scope="col"></th>
                    <th class="d-none" scope="col"></th>
                    <th class="d-none" scope="col"></th>
                    <th scope="col" style="width:35px"></th>
                </tr>
            </thead>
            @{
                int count = 1;
                double totalAmount = 0;
                double totalVAT = 0;
                double totalCKTM = 0;
                double totalTotal = 0;
            }
            @foreach (var item in TempData["Noidungpnk"] as List<Noidungpnk>)
            {
                <tr class="tr">
                    <td class="d-flex justify-content-center">@count</td>
                    <td>@item.Solo</td>
                    <td style="width:500px">@item.IdhhNavigation.Mavl-@item.IdhhNavigation.Tenvl</td>
                    <td>@item.Soluong</td>

                    @{
                        count++;
                        var Amount = item.Soluong * item.Dongia;
                        var CKTM = (Amount * item.Cktm) / 100;
                        var VAT = ((Amount - CKTM) * item.Vat) / 100;
                        var Total = Amount - CKTM + VAT;


                        var Dongia = String.Format("{0:0,0}", (@item.Dongia));
                        var ThanhTien = String.Format("{0:0,0}", (Total));


                        totalAmount += Amount;

                        totalVAT += (double)VAT;
                        totalCKTM += (double)CKTM;
                        totalTotal += (double)Total;

                    }
                    <td>@Dongia</td>
                    <td>@ThanhTien</td>


                    @if (item.Ngaysx != null)
                    {
                        DateTime Ngaysx = (DateTime)item.Ngaysx;
                        <td class="d-none">@Ngaysx.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)</td>
                        <td class="d-none">@Ngaysx.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture)</td>
                    }
                    else
                    {
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                    }

                    @if (item.Hansd != null)
                    {
                        DateTime Hansd = (DateTime)item.Hansd;

                        <td class="d-none">@Hansd.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)</td>
                        <td class="d-none">@Hansd.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture)</td>
                    }
                    else
                    {
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                    }

                    <td class="d-none">@item.Donvitinh</td>
                    <td class="d-none">@item.Idndpnk</td>
                    <td class="d-none">@item.Vat</td>
                    <td class="d-none">@item.Cktm</td>
                    <td class="d-none">@item.IdhhNavigation.Idhh</td>
                    <td class="d-none">@item.IdhhNavigation.Hinhanh</td>


                    <td class="table-td-center d-flex " style="justify-content:space-evenly;align-items:center">

                        <a class="btn  btn-warning " onclick="onEdit(this)"><i class="fas fa-edit text-white"></i></a>

                        <button onclick="showModalDetail(this)" type="button" class="btn btn-info" data-toggle="modal"
                                data-target="#detailModal">
                            <i class="fas fa-info-circle text-white"></i>
                        </button>
                        <button data-id="@item.Idndpnk" data-code="@item.IdhhNavigation.Mavl" data-name="@item.IdhhNavigation.Tenvl" type="button" class="btn btn-danger deleteBtn"
                                data-toggle="modal" data-target="#deleteModal">
                            <i class="fas fa-trash text-white"></i>
                        </button>
                    </td>

                </tr>
            }
        </table>
    </div>



</div>

<div id="tab-2" class="tab-content ">

    <div class="bg-light p-1 mb-2  border border-secondary rounded">
        <form id="" asp-action="Create" asp-controller="Phieutranoncc">

            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-3 col-sm-12">
                            Hình thức
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <select id="selectDefault" name="Idhttt">

                                @foreach (var item in TempData["Hinhthucthanhtoan"] as List<Hinhthucthanhtoan>)
                                {
                                    <option value="@item.Idhttt">@item.Tenhttt</option>
                                }

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-2 col-sm-12">
                            Ghi chú
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <textarea name="Ghichu" onfocus="this.value=''" row="" style="height:40px;" class="form-control"></textarea>

                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-12">

                    <input type="hidden" name="Idpnk" value="@phieunhapkho.Idpnk" />
                    <input type="hidden" name="SoPhieu" value="@phieunhapkho.Sophieu" />
                    <input type="submit" id="TaoPhieu" value="Tạo Phiếu" class="btn btn-primary w-100" />

                </div>
            </div>
        </form>
    </div>

    <form asp-action="Actions" asp-controller="Phieutranoncc" id="formNDTNNCC" method="post">
        <input type="hidden" name="Idpnk" value="@phieunhapkho.Idpnk" />
        <input type="hidden" name="Idndtnncc" id="Idndtnncc" />
        <input type="hidden" name="Idptnncc" id="Idptnncc" value="@TempData["phieutrano"]" />
        <input type="hidden" name="action" id="actionNDPTN" value="addItem" />

        <div class="bg-light p-1  border border-secondary rounded">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-3 col-sm-12">
                            Số Tiền
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <input id="SotienNdpt" type="number" class="form-control" name="Sotien" required>
                            <span id="SotienPhaiTra"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-3 col-sm-12">
                            P.Trả
                        </div>
                        <div class="col-md-9 col-sm-12">
                            @if (TempData["SoPhieu"] != null)
                            {
                                <textarea id="SoPhieuTra" readonly style="height:40px;" value="" name="" class="form-control">@TempData["SoPhieu"]</textarea>
                            }
                            else
                            {
                                <textarea id="SoPhieuTra" readonly style="height:40px;" name="SoPhieu" class="form-control"></textarea>
                            }

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-3 col-sm-12">
                            Ghi chú
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <textarea name="Ghichu" id="GhichuNdpt" row="" style="height:40px;" class="form-control" maxlength="4000"></textarea>

                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12 ">
                    <button type="submit" style="float: right;" disabled class="btn btn-primary w-50" id="btnAddNdptn">Thêm</button>
                    <button type="submit" style="float: right;display:none" class="btn btn-primary w-50" id="btnFinishNdptn">Đã thanh toán</button>
                    <div class="d-flex">
                        <button type="button" style="display:none;" class="btn btn-light w-50" id="btnCancelNdptn">Hủy</button>
                        <button type="submit" class="btn btn-primary w-50" id="btnUpdateNdptn" style="display:none; float: right;">
                            Cập
                            nhật
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </form>
    <div class="bg-light p-1 border border-secondary rounded mt-2">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th style="max-width:30px" class="text-center">STT</th>

                    <th scope="col">Nhân viên trả</th>
                    <th scope="col">Số tiền(đ)</th>
                    <th scope="col">Ngày trả nợ</th>
                    <th scope="col">Ghi chú</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int countt = 1;
                    double TienDaThanhToan = 0;

                }
                @foreach (var item in TempData["Noidungtranoncc"] as List<Noidungtranoncc>)
                {
                    <tr class="trNDTNNCC">
                        <td class="d-flex justify-content-center">@countt</td>

                        <th scope="row">@item.IdpnkNavigation.IdnvNavigation.Tennv</th>
                        @{
                            var Sotien = String.Format("{0:0,0}", (@item.Sotien));

                            TienDaThanhToan += (double)item.Sotien;

                        }
                        <td>@Sotien</td>
                        @if (item.Ngaytrano != null)
                        {
                            DateTime Ngaytn = (DateTime)item.Ngaytrano;
                            <td>@Ngaytn.ToString("dd/MM/yyyy hh:mm:ss tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                            <td class="d-none">@Ngaytn.ToString("yyyy-MM-dd HH:mm:ss.fff", System.Globalization.CultureInfo.InvariantCulture)</td>

                        }
                        else
                        {
                            <td></td>
                            <td class="d-none"></td>
                        }
                        <td style="display:none">@item.Idndtnncc</td>
                        <td>@item.Ghichu</td>
                        <td class="d-none sophieu">@item.IdptnnccNavigation.Sophieu</td>
                        <td class="d-none idptnncc">@item.IdptnnccNavigation.Idptnncc</td>
                        <td class="table-td-center d-flex " style="justify-content:space-evenly;align-items:center">
                            <a class="btn btn-warning " onclick="onEditNdptnncc(this)"><i class="fas fa-edit text-white"></i></a>
                            <button data-id="@item.Idndtnncc" data-code="@item.IdptnnccNavigation.Sophieu" data-name="@item.Sotien" type="button" class="btn btn-danger deleteBtn2"
                                    data-toggle="modal" data-target="#deleteModal2">
                                <i class="fas fa-trash text-white"></i>
                            </button>

                        </td>

                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>


@*Modals*@

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModal"
     aria-hidden="true">
    <div class="modal-dialog w-90" role="document" style="display: flex;
        align-items: center;
        justify-content: center;">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="detailModal">Thông tin chi tiết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center mb-2">
                    <div>
                        <img src="" style="width:100%; border-radius:20px" id="HinhanhD" alt="Chưa có ảnh" />

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12 mt-2">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mt-2">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-2 col-sm-12">
                                        Tên HH
                                    </div>
                                    <div class="col-md-10 col-sm-12">

                                        <textarea class="form-control" id="TenhhD" disabled></textarea>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-2">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-2 col-sm-12">
                                        Số lô
                                    </div>
                                    <div class="col-md-10 col-sm-12">

                                        <input class="form-control" id="SoloD" disabled />

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-2">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-2 col-sm-12">
                                        @*Ngày SX*@
                                    </div>
                                    <div class="col-md-10 col-sm-12">
                                        <input id="NgaysxD" maxlength="12" disabled
                                               type="hidden" class="form-control">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-2">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-2 col-sm-12">
                                        @*Hạn SD*@
                                    </div>
                                    <div class="col-md-10 col-sm-12">
                                        <input id="HansdD" name="" disabled
                                               type="hidden" class="form-control">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-2">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-2 col-sm-12">
                                        ĐVT
                                    </div>
                                    <div class="col-md-10 col-sm-12">

                                        <input class="form-control" id="DonvitinhD" disabled />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 mt-2">
                        <div class="col-md-12 col-sm-12 mt-2">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-2 col-sm-12">
                                    Số lượng
                                </div>
                                <div class="col-md-10 col-sm-12">

                                    <input class="form-control" id="SoluongD" disabled />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 mt-2">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-2 col-sm-12">
                                    Đơn giá
                                </div>
                                <div class="col-md-10 col-sm-12">

                                    <input class="form-control" id="DongiaD" disabled />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 mt-2">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-2 col-sm-12">
                                    VAT
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    <input id="VatD" name="VatD" maxlength="255" type="text" disabled
                                           class="form-control">

                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 mt-2">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-2 col-sm-12">
                                    CKTM
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    <input id="CktmD" name="CktmD" maxlength="255" required disabled
                                           type="text" class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 mt-2">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-2 col-sm-12">
                                    Thành tiền
                                </div>
                                <div class="col-md-10 col-sm-12">

                                    <input class="form-control" id="ThanhtienD" disabled />

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModal">Bạn có chắc chắn muốn xóa?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Phieunhapkho" asp-action="Actions" method="post">
                <input id="idD" name="Idndpnk" class="d-none" type="text">
                <input id="Idpnk" name="Idpnk" value="@phieunhapkho.Idpnk" class="d-none" type="text">
                <input name="action" value="deleteItem" class="d-none" type="hidden">

                <div class="modal-body">
                    Dòng dữ liệu này sẽ bị mất, bạn có muốn tiếp tục xóa?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" id="deleteModalBtn" class="btn btn-primary">Xóa</button>
                </div>
            </form>

        </div>
    </div>

</div>

<div class="modal fade" id="deleteModal2" tabindex="-1" role="dialog" aria-labelledby="deleteModal2"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModal">Bạn có chắc chắn muốn xóa?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Phieutranoncc" asp-action="Actions" method="post">
                <input id="IdndtnnccNDPTN" name="Idndtnncc" class="d-none" type="text">
                <input id="" name="Idpnk" value="@phieunhapkho.Idpnk" class="d-none" type="text">
                <input name="action" value="deleteItem" class="d-none" type="hidden">

                <div class="modal-body">
                    Dòng dữ liệu này sẽ bị mất, bạn có muốn tiếp tục xóa?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" id="deleteModalBtn" class="btn btn-primary">Xóa</button>
                </div>
            </form>

        </div>
    </div>

</div>



@{
    var SoTienConNo = @totalTotal - @TienDaThanhToan;
}
<input type="hidden" value="@totalTotal" id="SoTienCanThanhToan" />
<input type="hidden" value="@TienDaThanhToan" id="SoTienDaThanhToan" />
<input type="hidden" value="@SoTienConNo" id="SoTienConNo" />


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>

    function showModalDetail(row) {
        // Trích xuất thông tin từ các ô trong dòng được click
        const cells = row.parentElement.parentElement.cells;
        const Solo = cells[1].textContent;
        const Tenhh = cells[2].textContent;
        const Soluong = cells[3].textContent;
        let Dongia = cells[4].textContent;
        let Thanhtien = cells[5].textContent;
        const Ngaysx = cells[6].textContent;
        const Hansd = cells[8].textContent;
        const Donvitinh = cells[10].textContent;
        const Vat = cells[12].textContent;
        const Cktm = cells[13].textContent;
        const Hinhanh = cells[15].textContent;

        console.log(cells[14].textContent)
        console.log(cells[15].textContent)
        document.querySelector('#SoloD').value = Solo;
        document.querySelector('#TenhhD').value = Tenhh;
        document.querySelector('#SoluongD').value = Soluong;
        document.querySelector('#DongiaD').value = Dongia;
        document.querySelector('#ThanhtienD').value = Thanhtien + " VNĐ";
        document.querySelector('#NgaysxD').value = Ngaysx;
        document.querySelector('#HansdD').value = Hansd;
        document.querySelector('#DonvitinhD').value = Donvitinh;
        document.querySelector('#VatD').value = Vat + "%";
        document.querySelector('#CktmD').value = Cktm + "%";

        document.querySelector('#HinhanhD').src = "/Images/" + Hinhanh;

        document.querySelector('#HinhanhD').style.width = "350px";
        document.querySelector('#HinhanhD').style.height = "350px";
        // Hiển thị modal
        $('#detailModal').modal('show');
    }
    //Khi nhấn xóa trên table
    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Nút "Xóa" được nhấn
        var id = button.data('id'); // Lấy giá trị id được lưu trong data-id của nút "Xóa"
        var name = button.data('name'); // Lấy giá trị của cột tên được lưu trong data-name của nút "Xóa"
        var code = button.data('code');
        // Tiếp tục với các cột còn lại
        document.getElementById("idD").value = id;
        // Hiển thị thông tin của dòng lên modal xác nhận
        var modal = $(this);
        modal.find('.modal-body').text('Bạn có chắc chắn muốn xóa dòng có mã là ' + code + ' và tên là ' + name);
    });

</script>


<script>


    const formNDPNK = document.getElementById("formNDPNK");
    const btnAdd = document.getElementById("btnAdd");
    const btnUpdate = document.getElementById("btnUpdate");
    const btnCancel = document.getElementById("btnCancel");



    formNDPNK.addEventListener('change', function () {
        if (formNDPNK.checkValidity()) {
            btnAdd.disabled = false;
        } else {
            btnAdd.disabled = true;
        }
    });


    formNDPNK.addEventListener('change', function () {
        if (formNDPNK.checkValidity()) {
            btnUpdate.disabled = false;
        } else {
            btnUpdate.disabled = true;
        }
    });


    btnCancel.addEventListener("click", function () {
        btnUpdate.style.display = "none";
        btnCancel.style.display = "none";
        btnAdd.style.display = "block";
    })
    btnUpdate.addEventListener("click", function () {
        btnAdd.style.display = "block";
        btnUpdate.style.display = "none";
        btnCancel.style.display = "none";

    })

    function onEdit(td) {

        selectedRow = td.parentElement.parentElement;
        document.getElementById("Solo").value = selectedRow.cells[1].innerHTML;

        //document.getElementById("Idhh").value = selectedRow.cells[2].innerHTML;
        document.getElementById("Soluong").value = selectedRow.cells[3].innerHTML;

        let priceFormated = (selectedRow.cells[4].innerHTML).replaceAll(",", "");

        document.getElementById("Dongia").value = priceFormated;
        document.getElementById("Thanhtien").value = selectedRow.cells[5].innerHTML;

        document.getElementById("Ngaysx").value = selectedRow.cells[7].innerHTML;
        document.getElementById("Hansd").value = selectedRow.cells[9].innerHTML;
        document.getElementById("Donvitinh").value = selectedRow.cells[10].innerHTML;

        document.getElementById("IdndpnkE").value = selectedRow.cells[11].innerHTML;
        document.getElementById("Vat").value = selectedRow.cells[12].innerHTML;
        document.getElementById("Cktm").value = selectedRow.cells[13].innerHTML;
        document.querySelector(".Idhh").value = selectedRow.cells[14].innerHTML;


        document.getElementById("action").value = "editItem";
        btnAdd.style.display = "none";
        btnUpdate.style.display = "block";
        btnCancel.style.display = "block";

    }
</script>

<script>
    function validateForm(form, saveButton) {
        // Lặp qua tất cả các trường input, textarea và select của form
        let formIsValid = true;
        const fields = form.querySelectorAll("input, textarea, select");
        let currentFieldIsValid = true;
        fields.forEach((field) => {
            if (field === event.target) {
                currentFieldIsValid = field.checkValidity();
            }

            if (!currentFieldIsValid || !field.checkValidity()) {
                // Nếu trường Trường dữ liệu bắt buộc!, đánh dấu form Trường dữ liệu bắt buộc! và hiển thị lỗi
                formIsValid = false;
                field.classList.add("is-invalid");
                field.setAttribute('placeholder', 'Trường dữ liệu bắt buộc!!');
                field.style.color = "red";
            } else {
                field.classList.remove("is-invalid");
                field.setAttribute('placeholder', '');
                field.style.color = "black";
            }
        });

        // Enable hoặc disable nút lưu dữ liệu tùy thuộc vào trạng thái hợp lệ của form
        saveButton.disabled = !formIsValid;
    }

</script>

<script>
    const Soluong = document.getElementById("Soluong");
    const Dongia = document.getElementById("Dongia");
    const Thanhtien = document.getElementById("Thanhtien");

    const VND = new Intl.NumberFormat('vi-VN', {
        style: 'currency',
        currency: 'VND',
    });

    Soluong.addEventListener('input', function () {

        totalAmount = Soluong.value * Dongia.value;
        Thanhtien.value = VND.format(totalAmount);
    });
    Dongia.addEventListener('input', function () {

        totalAmount = Soluong.value * Dongia.value;
        Thanhtien.value = VND.format(totalAmount);
    });
</script>
<script src="~/multiSelectDropdown/virtual-select.min.js"></script>
<script type="text/javascript">
    VirtualSelect.init({
        ele: 'select'
    });
</script>

<script>

    function KeepPage() {
        let tab1 = document.querySelector("#tab-1");
        let tab2 = document.querySelector("#tab-2");

        if (tab1.classList.contains("current")) {
            tab1.classList.remove("current");
            tab2.classList.add("current");
        }

    }
</script>


<script>


    // NỘI DUNG PHIẾU TRẢ


    //KIỂM TRA SỐ TIỀN NỢ - TRẢ
    const SoTienMuonTra = document.getElementById("SotienNdpt");
    const SoTienCanThanhToan = document.getElementById("SoTienCanThanhToan");
    const SoTienDaThanhToan = document.getElementById("SoTienDaThanhToan");
    const SoTienConNo = document.getElementById("SoTienConNo");
    const SotienPhaiTra = document.getElementById("SotienPhaiTra");
    SoTienMuonTra.addEventListener("input", function () {
        if (parseFloat(SoTienMuonTra.value) > parseFloat(SoTienConNo.value) || SoTienMuonTra.value == "") {
            btnAddNdptn.disabled = true;
            SoTienMuonTra.style.border = "4px red solid";
            SoTienMuonTra.style.color = "red";
        }
        else {
            btnAddNdptn.disabled = false;
            SoTienMuonTra.style.border = "4px green solid";
            SoTienMuonTra.style.color = "green";


        }
        SotienPhaiTra.innerText = "Cần trả thêm: " + VND.format(SoTienConNo.value);
    })


    const btnAddNdptn = document.getElementById("btnAddNdptn");
    const btnCancelNdptn = document.getElementById("btnCancelNdptn");
    const btnUpdateNdptn = document.getElementById("btnUpdateNdptn");
    const formNDTNNCC = document.getElementById("formNDTNNCC");

    formNDTNNCC.addEventListener('change', function () {
        if (formNDTNNCC.checkValidity()) {
            btnAddNdptn.disabled = false;
            if (parseFloat(SoTienMuonTra.value) > parseFloat(SoTienConNo.value)) {
                btnAddNdptn.disabled = true;
            }
        } else {
            btnAddNdptn.disabled = true;
        }
    });

    btnCancelNdptn.addEventListener("click", function () {
        btnUpdateNdptn.style.display = "none";
        btnCancelNdptn.style.display = "none";
        btnAddNdptn.style.display = "block";

        document.getElementById("actionNDPTN").value = "addItem";
        btnAddNdptn.disabled = true;
        document.getElementById("SotienNdpt").value = "";
        document.getElementById("SoPhieuTra").value = "";
        document.getElementById("GhichuNdpt").value = "";
        SoTienMuonTra.style.border = "4px #ced4da solid";
    })
    btnUpdateNdptn.addEventListener("click", function () {
        btnAddNdptn.style.display = "block";
        btnUpdateNdptn.style.display = "none";
        btnCancelNdptn.style.display = "none";

    })


</script>

<script>
    //NỘI DUNG PHIẾU TRẢ
    function onEditNdptnncc(td) {
        //document.getElementById("tab-1").classList.remove("current");
        //document.querySelector(".tab-11").classList.remove("current");
        //document.getElementById("tab-2").classList.add("current");
        //document.querySelector(".tab-22").classList.add("current");
        selectedRow = td.parentElement.parentElement;
        document.getElementById("SotienNdpt").value = (selectedRow.cells[2].innerHTML).replaceAll(",", "");

        document.getElementById("Idndtnncc").value = selectedRow.cells[5].innerHTML;
        document.getElementById("GhichuNdpt").value = selectedRow.cells[6].innerHTML;
        document.getElementById("SoPhieuTra").value = selectedRow.cells[7].innerHTML;
        document.getElementById("Idptnncc").value = selectedRow.cells[8].innerHTML;
        SoTienMuonTra.style.border = "4px green solid";

        document.getElementById("actionNDPTN").value = "editItem"
        btnAddNdptn.style.display = "none";
        btnUpdateNdptn.style.display = "block";
        btnCancelNdptn.style.display = "block";

    }
    $('#deleteModal2').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Nút "Xóa" được nhấn
        var id = button.data('id'); // Lấy giá trị id được lưu trong data-id của nút "Xóa"
        var name = button.data('name'); // Lấy giá trị của cột tên được lưu trong data-name của nút "Xóa"
        var code = button.data('code');
        // Tiếp tục với các cột còn lại
        document.getElementById("IdndtnnccNDPTN").value = id;
        // Hiển thị thông tin của dòng lên modal xác nhận
        var modal = $(this);
        modal.find('.modal-body').text('Bạn có chắc chắn muốn xóa dòng có số phiểu là ' + code + ' và số tiền là ' + VND.format(name));
    });





</script>