@model IEnumerable<ElectronicsStore.Models.Phieunhapkho>

@{
    ViewData["Title"] = "Index";
    Layout = "_Admin";
}

<div class="d-flex justify-content-between mb-2">

    <div class="d-flex justify-content-between ">
        <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#addModal">
            Thêm mới phiếu nhập kho
        </button>
        <form asp-controller="Phieunhapkho" asp-action="TrashList">
            <button type="submit" class="btn btn-info">
                <i class="fas fa-trash-restore"></i>
            </button>
        </form>

    </div>
</div>
<table class="table table-striped table-bordered" id="productTable">
    <thead>
        <tr>
            <th class="text-center">STT</th>
            <th>Số phiếu</th>
            <th>Nhân viên lập</th>
            <th>Nhà cung cấp</th>
            <th>Ngày lập</th>
            <th class="d-none">Số hóa đơn</th>
            <th class="d-none">Ngày hóa đơn</th>
            <th class="d-none">Ghi chú</th>
            <th class="d-none"></th>
            <th class="d-none"></th>
            <th class="d-none"></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
        }
        @foreach (var item in Model)
        {

            <tr>
                <td class="d-flex justify-content-center">@count</td>
                <td>@item.Sophieu</td>
                <td>@item.IdnvNavigation.Tennv</td>
                <td>@item.IdnccNavigation.Tenncc</td>

                @{
                    DateTime Ngaylap = (DateTime)item.Ngaylap;




                }
                <td>@Ngaylap.ToString("dd/MM/yyyy HH:mm:ss", System.Globalization.CultureInfo.InvariantCulture)</td>
                <td class="d-none">@item.Sohd</td>
                @if (item.Ngayhd != null)
                {
                    DateTime Ngayhd = (DateTime)item.Ngayhd;
                    <td class="d-none">@Ngayhd.ToString("dd/MM/yyyy HH:mm:ss", System.Globalization.CultureInfo.InvariantCulture)</td>

                }
                else
                {
                    <td class="d-none"></td>
                }
                <td class="d-none">@item.Ghichu</td>
                <td class="d-none">@item.Idpnk</td>
                <td class="d-none">@item.IdnvNavigation.Tennv</td>
                <td class="d-none">@item.IdnccNavigation.Idncc</td>


                <td>
                    <button onclick="showModalEdit(this)" type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#editModal">
                        <i class="fas fa-pen text-white"></i>
                    </button>
                    <button onclick="showModalDetail(this)" type="button" class="btn btn-info" data-toggle="modal"
                            data-target="#detailModal">
                        <i class="fas fa-info-circle text-white"></i>
                    </button>
                    <button data-id="@item.Idpnk" data-code="@item.Sophieu" data-name="@item.IdnvNavigation.Tennv" data-name2="@item.IdnccNavigation.Tenncc" type="button" class="btn btn-danger deleteBtn"
                            data-toggle="modal" data-target="#deleteModal">
                        <i class="fas fa-trash text-white"></i>
                    </button>
                </td>
                @{ count++; }
            </tr>


        }


    </tbody>
</table>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
     aria-hidden="true">
    <div class="modal-dialog w-90" role="document" style="display: flex;
        align-items: center;
        justify-content: center;">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Thêm mới nhân viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formAdd" asp-controller="Phieunhapkho" asp-action="Create" method="post" enctype="multipart/form-data">

                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-2 col-sm-12">
                                    Số phiếu
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    <input id="SophieuA" name="Sophieu" maxlength="255" type="text"
                                           class="form-control">

                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 mt-2">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-2 col-sm-12">
                                    Nhà cung cấp
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    <select class="form-control" id="IdnccA" name="Idncc">
                                        @foreach (var item in @ViewData["Nhacungcap"] as List<Nhacungcap>)
                                        {
                                            <option value="@item.Idncc">@item.Mancc-@item.Tenncc</option>
                                        }
                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 mt-2">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-2 col-sm-12">
                                    Ghi chú
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    <textarea id="GhichuA" name="Ghichu" maxlength="4000"
                                              type="text" class="form-control"></textarea>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" id="addButton" class="btn btn-primary">Lưu</button>
                </div>

            </form>

        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog w-90" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModal">Cập nhật thông tin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formEdit" asp-controller="Phieunhapkho" asp-action="Edit" method="post" enctype="multipart/form-data">

                <div class="modal-body">
                    <input id="id" name="Idpnk" class="d-none" type="text">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-2 col-sm-12">
                                    Số phiếu
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    <input id="SophieuE" name="Sophieu" maxlength="255" type="text"
                                           class="form-control">

                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 mt-2">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-2 col-sm-12">
                                    Nhà cung cấp
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    <select class="form-control" id="IdnccE" name="Idncc">
                                        @foreach (var item in @ViewData["Nhacungcap"] as List<Nhacungcap>)
                                        {
                                            <option value="@item.Idncc">@item.Mancc-@item.Tenncc</option>
                                        }
                                    </select>

                                </div>
                            </div>
                        </div>


                        <div class="col-md-12 col-sm-12 mt-2">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-2 col-sm-12">
                                    Ghi chú
                                </div>
                                <div class="col-md-10 col-sm-12">
                                    <textarea id="GhichuE" name="Ghichu" maxlength="4000"
                                              type="text" class="form-control"></textarea>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" id="editButton" class="btn btn-primary">Lưu</button>
                </div>
            </form>

        </div>
    </div>

</div>
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModal"
     aria-hidden="true">
    <div class="modal-dialog w-90" role="document" style="display: flex;
        align-items: center;
        justify-content: center;">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="detailModal">Thông tin chi tiết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-2 col-sm-12">
                                Số phiếu
                            </div>
                            <div class="col-md-10 col-sm-12">
                                <input id="SophieuD" name="Sophieu" maxlength="255" type="text" disabled
                                       class="form-control">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 mt-2">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-2 col-sm-12">
                                Nhà cung cấp
                            </div>
                            <div class="col-md-10 col-sm-12">

                                <input id="IdnccD" name="Idncc" disabled
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 mt-2">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-2 col-sm-12">
                                Người lập
                            </div>
                            <div class="col-md-10 col-sm-12">

                                <input id="IdnvD" name="Idnv" disabled
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 mt-2">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-2 col-sm-12">
                                Ngày lập
                            </div>
                            <div class="col-md-10 col-sm-12">

                                <input id="NgaylapD" name="Ngaylap" disabled
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 mt-2">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-2 col-sm-12">
                                Số hóa đơn
                            </div>
                            <div class="col-md-10 col-sm-12">

                                <input id="SohdD" name="Sohd" disabled
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 mt-2">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-2 col-sm-12">
                                Ngày hóa đơn
                            </div>
                            <div class="col-md-10 col-sm-12">

                                <input id="NgayhdD" name="Ngayhd" disabled
                                       class="form-control">
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 col-sm-12 mt-2">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-2 col-sm-12">
                                Ghi chú
                            </div>
                            <div class="col-md-10 col-sm-12">
                                <textarea id="GhichuD" name="Ghichu" maxlength="4000" disabled
                                          type="text" class="form-control"></textarea>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModal">Bạn có chắc chắn muốn xóa?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Phieunhapkho" asp-action="Delete" method="post">
                <input id="idD" name="id" class="d-none" type="text">

                <div class="modal-body">
                    Dòng dữ liệu này sẽ bị mất, bạn có muốn tiếp tục xóa?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" id="deleteModalBtn" class="btn btn-primary">Xóa</button>
                </div>
            </form>

        </div>
    </div>

</div>

<script>
    const formAdd = document.getElementById("formAdd");
    const addButton = document.getElementById("addButton");

    const formEdit = document.getElementById("formEdit");
    const editButton = document.getElementById("editButton");

    formAdd.addEventListener('change', function () {
        if (formAdd.checkValidity()) {
            addButton.disabled = false;
        } else {
            addButton.disabled = true;
        }
    });
    formEdit.addEventListener('change', function () {
        if (formEdit.checkValidity()) {
            editButton.disabled = false;
        } else {
            editButton.disabled = true;
        }
    });
</script>

<script>
    function validateForm(form, saveButton) {
        // Lặp qua tất cả các trường input, textarea và select của form
        let formIsValid = true;
        const fields = form.querySelectorAll("input, textarea, select");
        let currentFieldIsValid = true;
        fields.forEach((field) => {
            if (field === event.target) {
                currentFieldIsValid = field.checkValidity();
            }

            if (!currentFieldIsValid || !field.checkValidity()) {
                // Nếu trường Trường dữ liệu bắt buộc!, đánh dấu form Trường dữ liệu bắt buộc! và hiển thị lỗi
                formIsValid = false;
                field.classList.add("is-invalid");
                field.setAttribute('placeholder', 'Trường dữ liệu bắt buộc!!');
                field.style.color = "red";
            } else {
                field.classList.remove("is-invalid");
                field.setAttribute('placeholder', '');
                field.style.color = "black";
            }
        });

        // Enable hoặc disable nút lưu dữ liệu tùy thuộc vào trạng thái hợp lệ của form
        saveButton.disabled = !formIsValid;
    }

    // Lấy tham chiếu tới form và nút lưu dữ liệu từ DOM


    // Đăng ký sự kiện "change" cho các trường input, textarea và select của form
    //formAdd.addEventListener("change", () => {
    //    validateForm(formAdd, addButton);
    //});

    formEdit.addEventListener("change", () => {
        validateForm(formEdit, editButton);
    });
</script>
<!-- Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    function showModalDetail(row) {


        // Trích xuất thông tin từ các ô trong dòng được click
        const cells = row.parentElement.parentElement.cells;
        const Sophieu = cells[1].textContent;
        const Tennv = cells[2].textContent;
        const Tenncc = cells[3].textContent;
        const Ngaylap = cells[4].textContent;
        const Sohd = cells[5].textContent;

        const Ngayhd = cells[6].textContent;

        const Ghichu = cells[7].textContent;
        const Idpnk = cells[8].textContent;
        const Idnv = cells[9].textContent;
        const Idncc = cells[10].textContent;

        // Gán giá trị cho các input trong modal
        document.querySelector('#SophieuD').value = Sophieu;
        document.querySelector('#IdnvD').value = Tennv;
        document.querySelector('#IdnccD').value = Tenncc;

        document.querySelector('#NgaylapD').value = Ngaylap;
        document.querySelector('#SohdD').value = Sohd;
        document.querySelector('#NgayhdD').value = Ngayhd;
        document.querySelector('#GhichuD').value = Ghichu;

        // Hiển thị modal
        $('#detailModal').modal('show');
    }
    function showModalEdit(row) {
        // Trích xuất thông tin từ các ô trong dòng được click
        const cells = row.parentElement.parentElement.cells;
        const Sophieu = cells[1].textContent;
        const Tennv = cells[2].textContent;
        const Tenncc = cells[3].textContent;
        const Ngaylap = cells[4].textContent;
        const Sohd = cells[5].textContent;

        const Ngayhd = cells[6].textContent;

        const Ghichu = cells[7].textContent;
        const Idpnk = cells[8].textContent;
        const Idnv = cells[9].textContent;
        const Idncc = cells[10].textContent;

        // Gán giá trị cho các input trong modal
        document.querySelector('#SophieuE').value = Sophieu;
        //document.querySelector('#IdnvE').value = Idnv;
        //document.querySelector('#IdnccE').value = Idncc;

        //document.querySelector('#NgaylapE').value = Ngaylap;
        //document.querySelector('#SohdD').value = Sohd;
        document.querySelector('#IdnccE').value = Idncc;
        document.querySelector('#GhichuE').value = Ghichu;

        document.querySelector('#id').value = Idpnk;

        // Hiển thị modal
        $('#editModal').modal('show');
    }

    //Khi nhấn xóa trên table
    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Nút "Xóa" được nhấn
        var id = button.data('id'); // Lấy giá trị id được lưu trong data-id của nút "Xóa"
        var name = button.data('name'); // Lấy giá trị của cột tên được lưu trong data-name của nút "Xóa"
        var code = button.data('code');
        // Tiếp tục với các cột còn lại
        document.getElementById("idD").value = id;
        // Hiển thị thông tin của dòng lên modal xác nhận
        var modal = $(this);
        modal.find('.modal-body').text('Bạn có chắc chắn muốn xóa dòng có số phiếu là ' + code + ' và người lập là ' + name);
    });



</script>

