@model IEnumerable<ElectronicsStore.Models.Thuonghieu>

@{
    ViewData["Title"] = "Index";
    Layout = "_Admin";
}

<div class="d-flex justify-content-between mb-2">
    <div class="d-flex justify-content-between  flex-row-reverse">
            <form asp-controller="Thuonghieu" asp-action="Index">
                <button type="submit" class="btn btn-light ">
                    Quay lại
                </button>
            </form>
           
    </div>

    </div>
    <table class="table table-striped table-bordered" id="productTable">
        <thead>
            <tr>
                <th class="text-center">STT</th>
                <th>Mã thương hiệu</th>
                <th>Tên thương hiệu</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 1;
            }
            @foreach (var item in Model)
            {

                <tr>
                    <td class="d-flex justify-content-center">@count</td>
                    <td>@item.Math</td>
                    <td>@item.Tenth</td>
                    <td class=d-none>@item.Idth</td>


                    <td>
                        <form asp-controller="Thuonghieu" asp-action="ReStore">
                            <input name="id" value="@item.Idth" class="d-none" type="text">

                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-unlock text-white"></i>
                            </button>
                        </form>

                    </td>
                    @{ count++; }
                </tr>


            }


        </tbody>
    </table>

