@model IEnumerable<ElectronicsStore.Models.Noidungthunokh>

@{
    ViewData["Title"] = "Index";
    Layout = "_Admin";
}

<div class="d-flex justify-content-between mb-2">
    <div class="d-flex justify-content-between  flex-row-reverse">
        <form asp-controller="Phieuthunokh" asp-action="Index">
            <button type="submit" class="btn btn-light ">
                Quay lại
            </button>
        </form>

    </div>

</div>
<div class="table-responsive">

    <table class="table table-striped table-bordered" id="productTable">
        <thead>
            <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Ngày thu</th>
                <th class="text-center">Số tiền</th>
                <th class="text-center">Ghi chú</th>

            </tr>
        </thead>
        <tbody>
            @{
                int count = 1;


            }

            @if (Model != null)
            {
                @foreach (var item in Model)
                {

                    <tr>
                        <td class="d-flex justify-content-center">@count</td>
                        @{
                            DateTime Ngaythuno = (DateTime)item.Ngaythuno;

                        }
                        <td class="text-center">@Ngaythuno.ToString("dd/MM/yyyy ", System.Globalization.CultureInfo.InvariantCulture)</td>
                        @{
                            var Sotien = String.Format("{0:0,0}", (item.Sotien));

                        }
                        <td class="text-right">@Sotien đ</td>
                        <td>@item.Ghichu</td>

                        @{ count++; }
                    </tr>

                }



            }
            else
            {
                @foreach (var item in ViewData["noidungthunoddhkh"] as List<Noidungthunoddh>)
                {

                    <tr>
                        <td class="d-flex justify-content-center">@count</td>
                        @{
                            DateTime Ngaythuno = (DateTime)item.Ngaythuno;

                        }
                        <td class="text-right">@Ngaythuno.ToString("dd/MM/yyyy ", System.Globalization.CultureInfo.InvariantCulture)</td>
                        @{
                            var Sotien = String.Format("{0:0,0}", (item.Sotien));

                        }
                        <td class="text-right">@Sotien đ</td>
                        <td>@item.Ghichu</td>

                        @{ count++; }
                    </tr>

                }
            }


        </tbody>
    </table>
</div>

