@model ElectronicsStore.Models.Phieuthunokh

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Phieuthunokh</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sophieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sophieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaylap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaylap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdhtttNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdhtttNavigation.Tenhttt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdnvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdnvNavigation.Diachi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idptnkh">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
