@model ElectronicsStore.Models.Hinhthucthanhtoan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hinhthucthanhtoan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mahttt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mahttt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenhttt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenhttt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idhttt">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
